<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" style="font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
  
  <head>
    <title th:remove="all">Monthly Salary Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
      Hello, <br />
      Please find your NET salary amount, to date of <b><span th:text="${date}"></span></b>.
    </p>
    <p>$<span th:text="${salaryAmount}"></span></p>
    <p>
      Regards, <br />
      <em>HR Manager.</em><br />
      <em>ABC(PVT) Company Limited.</em>
    </p>
  </body>

</html>